<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>NetlifyStatusBar</string>
    <key>CFBundleIdentifier</key>
    <string>com.azwandi.NetlifyStatusBar</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.4</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>NetlifyStatusBar sends notifications when your deployments start, succeed, or fail.</string>
</dict>
</plist>
